screenshots/
build/

# Ignore the node modules. They will be installed through 'npm install'
node_modules/

# .env file is kept locally on machine running the server for security
.env


RPI Campus Map Project Proposal Summer 19.pdf
RPI Campus Map Project Proposal Fall 19.pdf
